<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <head>
    <% if current_user %>
        <p><%= current_user.username %></p>
        <form action=<%= session_url %> method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Logout">
        </form>
    <% end %>
  </head>

  <body>
    <% if flash[:errors] %>
      <p>Errors: </p>
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
