<tr>
    <td><%= cat.name %></td>
    <td><%= cat.sex %></td>
    <td><%= cat.color %></td>
    <td><%= cat.birth_date %></td>
    <td><%= cat.description %></td>
    <td>
        <ul>
            <% cat.cat_rental_requests.order(:start_date).each do |request| %>
                <%= render "cat_rental_requests/cat_rental_request", request: request %>
            <% end %>
        </ul>
    </td>
</tr>