<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if flash.now[:errors] %>
    <ul>
      <% flash.now[:errors].each do |error| %>
        <li> <%= error %> </li>
      <% end %>
    </ul>
  <% end %>

  <div id="app-header">
    <h1 id="app-name">
      <a href=<%= bands_url %>>Music App</a>
    </h1>
    <div id="session-info">
      <% if current_user %>
        <p> <%= current_user.username %></p>
        <form action=<%= session_url %> method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
          <input type="submit" value="Logout">
        </form>
      <% else %>
        <a href=<%= new_session_url %>>Login</a>
      <% end %>
    </div>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
