<% form_method = band.persisted? ? "patch" : "post" %>
<% action_url = band.persisted? ? band_url(band) : bands_url %>
<% submit_button = band.persisted? ? "Update Band" : "Create Band" %>

<form action= <%= action_url %> method="post">
  <%= authenticity_form %>
  <input type="hidden" name="_method" value=<%= form_method %>>

  <label for="band-name">Name</label>
  <input type="text" name="band[name]" id="band-name" value=<%= band.name %>>

  <input type="submit" value=<%= submit_button %>>
</form>