<!DOCTYPE html>
<html>
  <head>
    <title>TodosP3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <% if current_user %>
      <form action=<%= session_url %> method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
        <input type="submit" value="Logout">
      </form>
    <% end %>
  </body>
</html>
