<h4>Album Info</h4>
<ul>
  <li>
    Title: <%= @album.title %>
  </li>
  <li>
    Year: <%= @album.year %>
  </li>
  <li>
    Type: <%= @album.live ? "live" : "studio" %>
  </li>
  <li>
    Band: <a href=<%= band_url(@album.band) %>><%= @album.band.name %></a>
  </li>
</ul>
<a href=<%= edit_album_url(@album) %>>Edit</a>
<%= delete_form(album_url, "Delete") %>

<br>

<h4>Tracks</h4>
<ul>
  <% @album.tracks.each do |track| %>
    <li>
      <a href=<%= track_url(track) %>> <%= track.title %></a>
      <a href=<%= edit_track_url(track)%>> Edit </a>
      <%= delete_form(track_url(track), "Delete") %>
    </li>
  <% end %>
</ul>
<a href=<%= new_album_track_url(@album) %>>Create Track</a>